<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.XxCouponMapper" >
  <resultMap id="BaseResultMap" type="com.shop.entity.XxCoupon" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="begin_date" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT" />
    <result column="is_exchange" property="isExchange" jdbcType="BIT" />
    <result column="maximum_price" property="maximumPrice" jdbcType="DECIMAL" />
    <result column="maximum_quantity" property="maximumQuantity" jdbcType="INTEGER" />
    <result column="minimum_price" property="minimumPrice" jdbcType="DECIMAL" />
    <result column="minimum_quantity" property="minimumQuantity" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="BIGINT" />
    <result column="prefix" property="prefix" jdbcType="VARCHAR" />
    <result column="price_expression" property="priceExpression" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.shop.entity.XxCoupon" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_date, modify_date, begin_date, end_date, is_enabled, is_exchange, maximum_price, 
    maximum_quantity, minimum_price, minimum_quantity, name, point, prefix, price_expression
  </sql>
  <sql id="Blob_Column_List" >
    introduction
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.shop.entity.XxCouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xx_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shop.entity.XxCouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xx_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xx_coupon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xx_coupon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shop.entity.XxCouponExample" >
    delete from xx_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shop.entity.XxCoupon" >
    insert into xx_coupon (id, create_date, modify_date, 
      begin_date, end_date, is_enabled, 
      is_exchange, maximum_price, maximum_quantity, 
      minimum_price, minimum_quantity, name, 
      point, prefix, price_expression, 
      introduction)
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{beginDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{isEnabled,jdbcType=BIT}, 
      #{isExchange,jdbcType=BIT}, #{maximumPrice,jdbcType=DECIMAL}, #{maximumQuantity,jdbcType=INTEGER}, 
      #{minimumPrice,jdbcType=DECIMAL}, #{minimumQuantity,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{point,jdbcType=BIGINT}, #{prefix,jdbcType=VARCHAR}, #{priceExpression,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.entity.XxCoupon" >
    insert into xx_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="beginDate != null" >
        begin_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
      <if test="isExchange != null" >
        is_exchange,
      </if>
      <if test="maximumPrice != null" >
        maximum_price,
      </if>
      <if test="maximumQuantity != null" >
        maximum_quantity,
      </if>
      <if test="minimumPrice != null" >
        minimum_price,
      </if>
      <if test="minimumQuantity != null" >
        minimum_quantity,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="prefix != null" >
        prefix,
      </if>
      <if test="priceExpression != null" >
        price_expression,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=BIT},
      </if>
      <if test="isExchange != null" >
        #{isExchange,jdbcType=BIT},
      </if>
      <if test="maximumPrice != null" >
        #{maximumPrice,jdbcType=DECIMAL},
      </if>
      <if test="maximumQuantity != null" >
        #{maximumQuantity,jdbcType=INTEGER},
      </if>
      <if test="minimumPrice != null" >
        #{minimumPrice,jdbcType=DECIMAL},
      </if>
      <if test="minimumQuantity != null" >
        #{minimumQuantity,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=BIGINT},
      </if>
      <if test="prefix != null" >
        #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="priceExpression != null" >
        #{priceExpression,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shop.entity.XxCouponExample" resultType="java.lang.Integer" >
    select count(*) from xx_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xx_coupon
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null" >
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.beginDate != null" >
        begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isEnabled != null" >
        is_enabled = #{record.isEnabled,jdbcType=BIT},
      </if>
      <if test="record.isExchange != null" >
        is_exchange = #{record.isExchange,jdbcType=BIT},
      </if>
      <if test="record.maximumPrice != null" >
        maximum_price = #{record.maximumPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.maximumQuantity != null" >
        maximum_quantity = #{record.maximumQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.minimumPrice != null" >
        minimum_price = #{record.minimumPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.minimumQuantity != null" >
        minimum_quantity = #{record.minimumQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.point != null" >
        point = #{record.point,jdbcType=BIGINT},
      </if>
      <if test="record.prefix != null" >
        prefix = #{record.prefix,jdbcType=VARCHAR},
      </if>
      <if test="record.priceExpression != null" >
        price_expression = #{record.priceExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update xx_coupon
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      is_enabled = #{record.isEnabled,jdbcType=BIT},
      is_exchange = #{record.isExchange,jdbcType=BIT},
      maximum_price = #{record.maximumPrice,jdbcType=DECIMAL},
      maximum_quantity = #{record.maximumQuantity,jdbcType=INTEGER},
      minimum_price = #{record.minimumPrice,jdbcType=DECIMAL},
      minimum_quantity = #{record.minimumQuantity,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      point = #{record.point,jdbcType=BIGINT},
      prefix = #{record.prefix,jdbcType=VARCHAR},
      price_expression = #{record.priceExpression,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xx_coupon
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      is_enabled = #{record.isEnabled,jdbcType=BIT},
      is_exchange = #{record.isExchange,jdbcType=BIT},
      maximum_price = #{record.maximumPrice,jdbcType=DECIMAL},
      maximum_quantity = #{record.maximumQuantity,jdbcType=INTEGER},
      minimum_price = #{record.minimumPrice,jdbcType=DECIMAL},
      minimum_quantity = #{record.minimumQuantity,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      point = #{record.point,jdbcType=BIGINT},
      prefix = #{record.prefix,jdbcType=VARCHAR},
      price_expression = #{record.priceExpression,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.entity.XxCoupon" >
    update xx_coupon
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null" >
        begin_date = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnabled != null" >
        is_enabled = #{isEnabled,jdbcType=BIT},
      </if>
      <if test="isExchange != null" >
        is_exchange = #{isExchange,jdbcType=BIT},
      </if>
      <if test="maximumPrice != null" >
        maximum_price = #{maximumPrice,jdbcType=DECIMAL},
      </if>
      <if test="maximumQuantity != null" >
        maximum_quantity = #{maximumQuantity,jdbcType=INTEGER},
      </if>
      <if test="minimumPrice != null" >
        minimum_price = #{minimumPrice,jdbcType=DECIMAL},
      </if>
      <if test="minimumQuantity != null" >
        minimum_quantity = #{minimumQuantity,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=BIGINT},
      </if>
      <if test="prefix != null" >
        prefix = #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="priceExpression != null" >
        price_expression = #{priceExpression,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.shop.entity.XxCoupon" >
    update xx_coupon
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      is_enabled = #{isEnabled,jdbcType=BIT},
      is_exchange = #{isExchange,jdbcType=BIT},
      maximum_price = #{maximumPrice,jdbcType=DECIMAL},
      maximum_quantity = #{maximumQuantity,jdbcType=INTEGER},
      minimum_price = #{minimumPrice,jdbcType=DECIMAL},
      minimum_quantity = #{minimumQuantity,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      point = #{point,jdbcType=BIGINT},
      prefix = #{prefix,jdbcType=VARCHAR},
      price_expression = #{priceExpression,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.entity.XxCoupon" >
    update xx_coupon
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      is_enabled = #{isEnabled,jdbcType=BIT},
      is_exchange = #{isExchange,jdbcType=BIT},
      maximum_price = #{maximumPrice,jdbcType=DECIMAL},
      maximum_quantity = #{maximumQuantity,jdbcType=INTEGER},
      minimum_price = #{minimumPrice,jdbcType=DECIMAL},
      minimum_quantity = #{minimumQuantity,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      point = #{point,jdbcType=BIGINT},
      prefix = #{prefix,jdbcType=VARCHAR},
      price_expression = #{priceExpression,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>